.cart-class{
    background-color: aquamarine;
    margin-bottom: 50px;
    padding: 10px;

}
.cart-class h1{
    text-align: center;
}
.cart-class .information{
    display: flex;
    background-color:rgb(190, 227, 227);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

}
.information button{
    width: 50;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    
}
.btn-class{
    text-align: center;
}
.btn-class button{
    padding: 10px 30px;
    border: 1px solid  rgb(224, 234, 234);
    background-color:  rgb(190, 227, 227);
    border-radius: 10px;
}