.equipment{
    width: 270px;
    height: 500px;
    border: 1px solid black;
  
    position: relative;
    border-radius: 5px;
    background-color: rgb(234, 237, 239);
   

}
.equipment img{
    width: 250px;
    height: 200px;
    margin:  10px;
    border-radius: 10px;
}
.equipment .desc{
   padding:  0 10px;
}
.equipment .button-cart{

    width: 100%;
  background-color: rgb(30, 31, 31);
  color: white;
  font-size: 20px;
  border-radius: 5px;
 position: absolute;
  bottom: 0;
  padding: 10px 0;


  
}

.equipment p{
    margin-bottom: 0;
}
@media only screen and (max-width: 800px) {
   

  }
  @media only screen and (min-width: 480px) {
    
    .equipment{
        width: 100%;
    }
    .equipment img{
        width: 95%;
    }

  }

